<!--
<app-file-uploader></app-file-uploader>
-->

<!--
<app-contacts></app-contacts>
<advert-details></advert-details>
-->

<!--
<app-admin></app-admin>
-->

<a routerLink="/admin" class="btn btn-primary btn-lg">
    To Admin
</a>
<a routerLink="/account/register" class="btn btn-primary btn-lg">
    To Register
</a>
<a routerLink="/account/login" class="btn btn-warning btn-lg">
    To Login
</a>
<a routerLink="/ad/new" class="btn btn-success btn-lg">
    Create Ad
</a>
<router-outlet></router-outlet>