 <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/public/images/expressjs-card.png" alt="expressLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="/add/book">Add Book</a></li>
                    <li><a href="/books">View All Books</a></li>
                </ul>
            </nav>
        </div>
</header>