 <header>
        <div class="inner">
            <nav>
                <a href="/" class="logo"><img class="logo" src="/public/images/nodeLogo.png" alt="nodeLogo"></a>
                <input type="checkbox" id="nav" /><label for="nav"></label>
                <ul>
                    <li><a href="/add/meme">Add Meme</a></li>
                    <li><a href="/add/genre">Add Genre</a></li>
                    <li><a href="/view/memes">View All Memes</a></li>
                    <li><a href="/view/genres">View All Genres</a></li>
                    <li><a href="/search">Search</a></li>
                    
                </ul>
            </nav>
        </div>
</header>