<div class="row">
    <div class="col-12 col-md-12 col-sm-12">
        <h1>Create New Category</h1>
        {{#if invalidCategory}}
        <h2 class="err-msg text-center">
            {{errorMsg}}
        </h2>
        {{/if}} 
        
        {{#if hasErrors}}
        <div class="alert alert-light">
            {{#if titleError}}
            <h3 class="err-msg">{{titleError}}</h3>
            {{/if}}
        </div>
        {{/if}}
        <form action="/admin/category/new" method="POST">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value={{data.title}}>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</div>