<div class="row">
    <div class="col-md-12">
        <div class="error-template">
            <h1 class="text-center">
                Oops!</h1>
            <h2 class="err-msg text-center">
                Error 404 - Page Not Found</h2>
            <h3 class="error-info text-center">
               {{error}}
            </h3>
        </div>
    </div>
</div>