<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <script src="/static/scripts/jquery-3.3.1.js"></script>
    <script src="/static/scripts/api.js"></script>
    
</head>

<body>
    {{>header}}
    <h1>Hello I'm your Express Book DB app!</h1>
    <h2>There are currently 4 books in the database</h2>
    <a href="/home" id="home-btn"><button>Go HOME</button></a>
</body>

</html>