<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Book Library</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
     <script src="/public/scripts/jquery-3.3.1.js"></script>
    <script src="/public/scripts/api.js"></script>
</head>

<body>

    {{>header}}
    <h1>Here are your books</h1>
    <div class="container">
        {{#each books}}
        <div class="book">
            <a href="/books/{{_id}}"><img class="bookPoster" src="{{imageSrc}}" /></a>
        </div>
        {{else}}
        <div>Database is empty</div>
        {{/each}}
    </div>
</body>

</html>