<div class="container">
    <div *ngIf="isLoading" class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-2" id="form">
            <div class="loader">
                <h1>Loading....</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-8 col-sm-offset-2 col-md-offset-3 col-lg-offset-2" id="form">
            <form [formGroup]="registerForm" (submit)="onSubmit($event)">
                <h2>Register
                    <small>v0.0.1</small>
                </h2>

                <div *ngIf="hasRejected || serverError" class="alert alert-light form-error">
                    <h3>{{errorMsg}}</h3>
                </div>

                <div *ngIf="hasErrors" class="alert alert-light">
                    <div *ngIf="usernameErrors" class="form-error">
                        <h4 class="error-title">Username: </h4>
                        <ul>
                            <li *ngIf="usernameErrors.required">
                                <span class="text-strong">Username</span> is required.
                            </li>
                            <li *ngIf="!usernameErrors.required && usernameErrors.hasUnproperLength">
                                <span class="text-strong">Username</span> should contain
                                <span class="text-strong">between 3 and 20 </span> characters.
                            </li>
                            <li *ngIf="!usernameErrors.required && usernameErrors.containsForbiddenChars">
                                <span class="text-strong">Username</span> should contain only
                                <span class="text-strong">latin letters, digits and underscores.</span>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="emailErrors" class="form-error">
                        <h4 class="error-title">Email: </h4>
                        <ul>
                            <li *ngIf="emailErrors.required">
                                <span class="text-strong">Email</span> is required.
                            </li>
                            <li *ngIf="!emailErrors.required && emailErrors.hasIncorrectFormat">
                                Enter a
                                <span class="text-strong">valid email.</span>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="passwordErrors" class="form-error">
                        <h4 class="error-title">Password: </h4>
                        <ul>
                            <li *ngIf="passwordErrors.required">
                                <span class="text-strong">Password</span> is required.
                            </li>
                            <li *ngIf="!passwordErrors.required && passwordErrors.hasUnproperLength">
                                <span class="text-strong">Password</span> should be between
                                <span class="text-strong">4 and 20</span> characters long.
                            </li>
                            <li *ngIf="!passwordErrors.required && passwordErrors.containsForbiddenChars">
                                <span class="text-strong">Password</span> should contain only
                                <span class="text-strong">latin letters, digits and _, @, #, $, &, -, and *.</span>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="confirmPassErrors" class="form-error">
                        <h4 class="error-title">Confirm Password: </h4>
                        <ul>
                            <li *ngIf="confirmPassErrors.required">
                                <span class="text-strong">Confirm Password</span> is required.
                            </li>
                            <li *ngIf="!confirmPassErrors.required && confirmPassErrors.doesNotMatch">
                                <span class="text-strong">Both passwords should match.</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="form-group">
                    <div *ngIf="username.touched && username.errors" class="form-error">
                        <div *ngIf="username.errors.required">
                            <span class="text-strong">Username</span> is required.
                        </div>
                        <div *ngIf="!username.errors.required && username.errors.hasUnproperLength">
                            <span class="text-strong">Username</span> should contain
                            <span class="text-strong">between 3 and 20 </span> characters.
                        </div>
                        <div *ngIf="!username.errors.required && username.errors.containsForbiddenChars">
                            <span class="text-strong">Username</span> should contain only
                            <span class="text-strong">latin letters, digits and underscores.</span>
                        </div>
                    </div>

                    <input type="text" id="username" class="form-control input-lg" formControlName="username" placeholder="Username..." tabindex="3">
                    <div>
                        <small class="text-muted">
                            Symbols:
                            <span class="content-length">{{username.value.length}}</span>
                        </small>
                    </div>

                </div>

                <div class="form-group">
                    <div *ngIf="email.touched && email.errors" class="form-error">
                        <div *ngIf="email.errors.required">
                            <span class="text-strong">Email</span> is required.
                        </div>
                        <div *ngIf="!email.errors.required && email.errors.hasIncorrectFormat">
                            Enter a
                            <span class="text-strong">valid email.</span>
                        </div>
                    </div>
                    <input type="text" id="email" class="form-control input-lg" formControlName="email" placeholder="Email..." tabindex="3">
                    <div>
                        <small class="text-muted">
                            Symbols:
                            <span class="content-length">{{email.value.length}}</span>
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <div *ngIf="password.touched && password.errors" class="form-error">
                        <div *ngIf="password.errors.required">
                            <span class="text-strong">Password</span> is required.
                        </div>
                        <div *ngIf="!password.errors.required && password.errors.hasUnproperLength">
                            <span class="text-strong">Password</span> should be between
                            <span class="text-strong">4 and 20</span> characters long.
                        </div>
                        <div *ngIf="!password.errors.required && password.errors.containsForbiddenChars">
                            <span class="text-strong">Password</span> should contain only
                            <span class="text-strong">latin letters, digits and _, @, #, $, &, -, and *.</span>
                        </div>
                    </div>
                    <input type="password" id="password" class="form-control input-lg" formControlName="password" placeholder="Type password..."
                        tabindex="3">
                    <div>
                        <small class="text-muted">
                            Symbols:
                            <span class="content-length">{{password.value.length}}</span>
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <div *ngIf="confirm.touched && confirm.errors" class="form-error">
                        <div *ngIf="confirm.errors.required">
                            <span class="text-strong">Confirm Password</span> is required.
                        </div>
                    </div>
                    <div *ngIf="password.value !== confirm.value">
                        <span class="text-strong">Both passwords should match.</span>
                    </div>

                    <input type="password" id="confirm" class="form-control input-lg" formControlName="confirmPassword" placeholder="Type confirm password..."
                        tabindex="3">
                    <div>
                        <small class="text-muted">
                            Symbols:
                            <span class="content-length">{{confirm.value.length}}</span>
                        </small>
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="registerForm.invalid" tabindex="8">
                            Register
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>