<div class="page-wrap d-flex flex-row align-items-center" id="page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h1>Cannot connect to the server!</h1>
                <div class="mb-4 lead">There is a problem with either you internet connection or with our server.</div>
                <div class="mb-4 lead">If the problem lasts more than several minutes, feel free to inform us.</div>
                <a routerLink="/admin" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
</div>