div#page {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(138, 35, 135), rgb(233, 64, 87), rgb(242, 113, 33)) repeat scroll 0% 0%;
    color: white;
}

.page-wrap {
    min-height: 100vh;
}