<div class="container">
    <div class="row space-top">
        <div class="col-md-12">
            <h1>Profile Page</h1>
            <p>Listing  your furniture.</p>
        </div>
    </div>
    <div class="row space-top">
        <div *ngFor="let item of items" class="col-md-4 furniture-block">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <blockquote class="card-blockquote">
                        <img src="{{item.image}}" />
                        <p>{{item.description}}</p>
                        <footer>Someone famous in
                            <cite title="Source Title">Source Title</cite>
                        </footer>
                        <div class="pull-right">
                            <a routerLink="/furniture/details/{{item.id}}" class="btn btn-info">Details</a>
                            <button (click)="deleteItem(item.id)" class="btn btn-danger">Delete Item</button>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
</div>
