<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MemeDB</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
</head>

<body>
    {{>header}}
    <h1>Add New Genre</h1>
    <div class="container">
        <form action="/add/genre" method="post">
            <label for="genreTitle">Title</label>
            <input type="text" id="genreTitle" value="{{genre}}" name="genreTitle" placeholder="The title of the genre">

            <input type="submit" value="Submit">

        </form>
    </div>

    {{#if hasMessage}}
    <div id="{{element-type}}">{{message}}</div>
    {{/if}}



</body>

</html>