<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MemeDB</title>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css" />
</head>

<body>
    {{>header}}
    <div id='error'>
        <h1>Error Occured</h1>
        <h2>{{message}}</h2>
    </div>

</body>

</html>