<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7">
      <div class="single_product_thumb">
        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(img/product-img/pro-big-1.jpg);">
            </li>
            <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(img/product-img/pro-big-2.jpg);"
              class="active">
            </li>
            <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url(img/product-img/pro-big-3.jpg);">
            </li>
            <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url(img/product-img/pro-big-4.jpg);">
            </li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item">
              <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                <img class="d-block w-100" src="img/product-img/pro-big-1.jpg" alt="First slide">
              </a>
            </div>
            <div class="carousel-item active">
              <a class="gallery_img" href="img/product-img/pro-big-2.jpg">
                <img class="d-block w-100" src="img/product-img/pro-big-2.jpg" alt="Second slide">
              </a>
            </div>
            <div class="carousel-item">
              <a class="gallery_img" href="img/product-img/pro-big-3.jpg">
                <img class="d-block w-100" src="img/product-img/pro-big-3.jpg" alt="Third slide">
              </a>
            </div>
            <div class="carousel-item">
              <a class="gallery_img" href="img/product-img/pro-big-4.jpg">
                <img class="d-block w-100" src="img/product-img/pro-big-4.jpg" alt="Fourth slide">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-5">
      <div class="col-12">
        <h1>
          Laptop Lenovo Legion (нов, геймърски) + ПОДАРЪК гймърска мишка Trust 
        </h1>
        <p class="price">
          <span>199.
            <sup>99</sup>лв.</span>
            
           
        
        </p>
        <p>
           
        </p>

      </div>
      <div class="col-12">
        <p>
          <span class="label">Доставка: </span>
          <span class="badge badge-dark">от купувача</span>
        </p>
        <p>
          <span class="label">Къде? </span>
          <span class="badge badge-dark">гр.Габрово</span>
        </p>
        <p>
          <span class="label">Кой? </span>
          <span class="badge badge-dark">
            <a href="#">pesho1990</a>
          </span>
        </p>
      </div>
      <div class="col-12 text-center button">
        <button type="button" class="btn btn-success" id="offer">
          <span> Оферирай</span>
        </button>
      </div>
      <div class="col-12 text-center button">
          <button type="button" class="btn-outlined" id="message" >
              <i class="fa fa-comment" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn-outlined align-right" id="favourites">
                <i class="fa fa-heart" aria-hidden="true"></i>
              </button>
        </div>
  </div>
</div>