.button {
    padding: 1% 2%;
    background: #fafa45;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
}

.hide-btn {
    background: #01c01b;
}

.icon {
    width: 36px;
    height: 36px;
    background: transparent;
}

.input-area {
    margin: 2%;
}
input {
    
    padding: 0.5%;
    font-size: 1.2em;
}